version: '3.8'
services:
  timescaledb:
    image: timescale/timescaledb:latest-pg18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: migration_db
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data: